

// Layout Styles
.device--region
  display: flex
  align-content: center
  justify-content: center

.controls--region
  border-left: 1px solid
  border-color: theme-color('light')

.device--layout

  .device--overlay
    opacity: 1
    transition: opacity .25s ease-in

  .editor--overlay
    background-color: #333
    position: fixed
    display: flex
    transition: opacity .25s ease-in
    margin-top: 2.5rem
    z-index: -1000
    opacity: 0
    filter: blur(10px)

  &.active
    .device--overlay
      opacity: 0
      filter: blur(10px)

    .editor--overlay
      z-index: 100
      opacity: 1
      background-color: $body-bg
      filter: none

// // // //

// AstroKey Selector Styles
$astrokey_child_size: 4rem

.key--list--wrapper
  border: 2px solid theme-color('light')
  border-top-left-radius: 1.5rem
  border-top-right-radius: 0.25rem
  border-bottom-left-radius: 0.25rem
  border-bottom-right-radius: 1.5rem

  img.logo
    margin: 0rem 1rem
    height: 3rem
    transform: rotate(90deg)
    display: flex

  ul.list-unstyled.key--list
    li.key--child
      height: $astrokey_child_size
      width: $astrokey_child_size
      cursor: pointer
      border-width: 2px

      span
        font-size: 0.75rem
        position: relative
        bottom: 0
        left: 0

    &.active
      color: $gray-800

// // // //

// Keyboard Body Styles
// .keyboard--body
//   width: 80%

// Keyboard Row Styles
.keyboard--row
  display: flex
  justify-content: space-between
  width: 100%

// Key Selector Styles
$keyboard_key_child_size: 3.5rem
$keyboard_key_margin: 0.25rem

.keyboard--key
  display: flex
  flex-direction: column
  font-size: 80%
  width: $keyboard_key_child_size
  height: $keyboard_key_child_size
  margin: $keyboard_key_margin
  justify-content: center
  align-items: center

  &:hover
    color: theme-color('dark')

  .shift
    display: flex
    flex-direction: row
    margin-bottom: 0.5rem

  .plain
    display: flex
    flex-direction: row

  &.w1_25
    width: 1.25*$keyboard_key_child_size

  &.w1_5
    width: 1.5*$keyboard_key_child_size

  &.w1_75
    width: 1.75*$keyboard_key_child_size

  &.w2_0
    width: 2*$keyboard_key_child_size

  &.w2_25
    width: 2.25*$keyboard_key_child_size

  &.w2_75
    width: 2.75*$keyboard_key_child_size

  &.space
    width: 6.25*$keyboard_key_child_size

  &.h2_0
    height: 2.15*$keyboard_key_child_size

// // // //
// Macro Styles

$macro_size: 4rem

ul.list-unstyled.macro--list

  li.macro--child
    display: flex
    padding: 0 .25rem
    min-height: 8rem

    .key
      height: $macro_size
      width: $macro_size
      border: .15rem solid theme-color('secondary')
      border-radius: 1rem
      color: theme-color('light')
      display: flex
      font-size: 1.25rem
      font-weight: 400
      cursor: pointer

      .inner
        height: 100%
        width: 100%
        justify-content: center
        align-items: center

        &.content
          display: flex
          flex-direction: column

          // Space button
          &.space
            color: rgba(255, 255, 255, 0)

        &.hover
          display: none

      &.special
        color: lighten(theme-color('info'), 35%)

    .position
      display: flex
      // opacity: 0

      span.position--select
        color: $gray-500
        cursor: pointer

        &.position_-1
          color: lighten(theme-color('warning'), 25%)

          &:hover
            color: theme-color('warning')

        &.position_0
          color: lighten(theme-color('success'), 25%)

          &:hover
            color: theme-color('success')

        &.position_1
          color: lighten(theme-color('primary'), 25%)

          &:hover
            color: theme-color('primary')

    &.hovered
      // .position
      //   opacity: 1

      .key
        // border: .15rem solid theme-color('secondary')

        .inner.content
          display: none
        .inner.hover
          display: flex
          color: lighten(theme-color('danger'), 25%)

    // TODO - this should be adjusted to
    &.drag-start
      // opacity: 0
      .key
        .inner.content
          display: flex
        .inner.hover
          display: none

      .position
        opacity: 0

    &.ghost
      .key
        border-width: .3rem
        border-color: #f3f3f3
        border-style: dashed
        color: theme-color('warning')

    // &.chosen
    //   .key
    //     background-color: $gray-100

    //     .hover
    //       display: none !important

    // &.drag
    //   .position
    //     opacity: 0

    &.empty
      font-size: 1.5rem
