
// Layout Styles
// .device--region
.controls--region
  border-left: 1px solid $gray-800

// // // //

// AstroKey Selector Styles
$astrokey_child_size: 4rem

ul.list-unstyled.key--list
  border: 1px solid $gray-800

  li.key--child
    height: $astrokey_child_size
    width: $astrokey_child_size

    span
      display: none
      font-size: 0.5rem
      position: relative
      bottom: 0
      left: 0

// // // //

// Keyboard Body Styles
// .keyboard--body
//   width: 80%

// Keyboard Row Styles
.keyboard--row
  display: flex
  justify-content: space-between
  width: 100%

// Key Selector Styles
$keyboard_key_child_size: 3.5rem
$keyboard_key_margin: 0.25rem

.keyboard--key
  display: flex
  flex-direction: column
  font-size: 80%
  width: $keyboard_key_child_size
  height: $keyboard_key_child_size
  margin: $keyboard_key_margin
  justify-content: center
  align-items: center

  .shift
    display: flex
    flex-direction: row
    margin-bottom: 0.5rem

  .plain
    display: flex
    flex-direction: row

  &.w1_25
    width: 1.25*$keyboard_key_child_size

  &.w1_5
    width: 1.5*$keyboard_key_child_size

  &.w1_75
    width: 1.75*$keyboard_key_child_size

  &.w2_0
    width: 2*$keyboard_key_child_size

  &.w2_25
    width: 2.25*$keyboard_key_child_size

  &.w2_75
    width: 2.75*$keyboard_key_child_size

  &.space
    width: 6.25*$keyboard_key_child_size

// // // //
// Macro Styles

$macro_size: 4rem

ul.list-unstyled.macro--list
  border-bottom: 1px solid $gray-800

  li.macro--child
    display: flex
    margin: 0 .25rem

    .key
      height: $macro_size
      width: $macro_size
      border: .25rem solid $gray-600
      border-radius: 0.5rem
      color: #333
      display: flex
      font-weight: 400

      .inner
        height: 100%
        width: 100%
        justify-content: center
        align-items: center

        &.content
          display: flex
          flex-direction: column

        &.hover
          display: none

      &:hover
        border: .25rem solid theme-color('warning')
        color: theme-color('warning')
        .inner.content
          display: none
        .inner.hover
          display: flex

    .position
      display: flex

      span.position--select
        color: $gray-800
        cursor: pointer

        &.position_-1
          color: theme-color('danger')

          &:hover
            color: darken(theme-color('danger'), 10%)

        &.position_0
          color: $gray-600

          &:hover
            color: darken($gray-600, 10%)

        &.position_1
          color: theme-color('success')

          &:hover
            color: darken(theme-color('success'), 10%)

    &.ghost
      .key
        border: .25rem dotted #000
      .position
        opacity: 0

    &.chosen
      .key
        background-color: $gray-100

        .hover
          display: none !important

    &.drag
      .position
        opacity: 0
