//- .col-lg-12(data-region='status')

.col-lg-12.d-flex.justify-content-center.align-items-center
  .btn-group
    if connected
      button.btn.btn-sm.btn-outline-secondary(data-click='disconnect')
        i.fa.fa-fw.fa-times.mr-1
        | DISCONNECT

    else
      button.btn.btn-sm.btn-outline-secondary(data-click='connect')
        i.fa.fa-fw.fa-usb.mr-1
        | CONNECT


    button.btn.btn-outline-secondary(data-click='rotate')
      i.fa.fa-fw.fa-rotate-right

.key-selector-wrapper.col-lg-12.d-flex.justify-content-center.align-items-center(data-region='keys')
