//- .col-lg-12(data-region='status')

//- .col-lg-12
//-   hr

if !connected
  .col-lg-12.d-flex.justify-content-center.align-items-center
    button.btn.btn-outline-secondary(data-click='connect') CONNECT

.col-lg-12.d-flex.justify-content-center.align-items-center(data-region='keys')
