.col-lg-12
  button.btn.btn-outline-success(data-click='save')
    i.fa.fa-fw.fa-2x.fa-save.mr-1

  button.btn.btn-outline-secondary(data-click='cancel')
    i.fa.fa-fw.fa-2x.fa-times-circle


.col-lg-12(data-region='content')
