.col-lg-12
  button.btn.btn-sm.btn-outline-success.mx-2(data-click='save')
    i.fa.fa-fw.fa-2x.mx-4.fa-save

  button.btn.btn-sm.btn-outline-secondary.mx-2(data-click='cancel')
    i.fa.fa-fw.fa-2x.mx-4.fa-times-circle

.col-lg-12
  hr

.col-lg-12(data-region='content')
