.col-lg-12
  button.btn.btn-outline-success(data-click='save')
    i.fa.fa-fw.fa-lg.fa-save.mr-1
    | SAVE

  button.btn.btn-outline-secondary(data-click='cancel')
    i.fa.fa-fw.fa-lg.fa-times-circle


.col-lg-12(data-region='content')
