.col-lg-12
  .row
    .col-lg-12.d-flex.flex-row.align-items-center.justify-content-center
      i.d-flex.fa.fa-fw.fa-2x.fa-question-circle-o.mr-1
      p.d-flex.lead.m-0(style='letter-spacing: 0.25rem; font-weight: 200;') Click a key to edit

  .row
    .col-lg-12.text-center
      h5.modal-title ABOUT

    .col-lg-12.text-center
      hr

    .col-lg-12.text-center
      p.lead
        a(href='https://github.com/AstroKey', target='_blank')  AstroKey
        |  is an open-source platform for re-programmable USB keyboards.

      p AstroKey provides an intuitive interface anybody can use to automate basic keyboard actions.

      p Simply drag and drop keyboard keys to construct your desired sequence - AstroKey does the rest.

      p It's that easy.

    .col-lg-12.text-center
      hr

      p
        | Built by&nbsp;
        a(href='https://github.com/AaronPerl', target='_blank') Aaron Perl
        | &nbsp;and&nbsp;
        a(href='http://aeks.co', target='_blank') Alexander Schwartzberg
        | &nbsp;for&nbsp;
        a(href='https://rcos.io/', target='_blank') RCOS.

