//- TODO - abstract these mixins elsewhere
mixin keyboardRow()
  .keyboard--row.w-100
    block

mixin keyboardKey(opts)
  button.btn.btn-outline-dark.keyboard--key( data-keycode=opts.keycode data-click='key' data-key=opts.key class=opts.css )
    if opts.icon
      i.fa.fa-fw( class=opts.icon )
    else
      = opts.key

//- // // // //

.keyboard--body
  +keyboardRow()
    each key in r4
      +keyboardKey(key)

  +keyboardRow()
    each key in r3
      +keyboardKey(key)

  +keyboardRow()
    each key in r2
      +keyboardKey(key)

  +keyboardRow()
    each key in r1
      +keyboardKey(key)

  +keyboardRow()
    each key in r0
      +keyboardKey(key)
