
.col-lg-12
  .row.d-flex.align-items-center
    .col-lg-10
      p.lead.mb-0= id

    .col-lg-2.text-right.text-muted
      i.fa.fa-fw.fa-pencil

.col-lg-12
  hr

.col-lg-12
  .row.d-flex.align-items-center.justify-content-center
    .btn-group.d-flex
      button.btn.btn-outline-dark
        i.fa.fa-fw.fa-lg.fa-angle-left

      button.btn.btn-outline-dark
        i.fa.fa-fw.fa-lg.fa-angle-right

.col-lg-12
  hr
