
.row.h-100
  .col-lg-2.pt-2.device--region
    .row
      .col-lg-12(data-region='device')

  .col-lg-10.pt-2.controls--region
    .row
      .col-lg-12(data-region='macro')
      .col-lg-12
        hr
      .col-lg-12(data-region='controls')
