p.lead.text-center
  | Macro
  br
  small Execute keystrokes in a specific sequence

small.text-muted.d-flex.flex-row.justify-content-center.align-items-center(style='font-size: 1rem;')
  .fa.fa-fw.fa-question-circle-o.mr-1.d-flex.flex-column
  .d-flex.flex-row
    span Use the keys below, or click&nbsp;

    span.text-danger
      i.fa.fa-fw.fa-circle.text-danger
      |  record&nbsp;

    |&nbsp;and start typing
