mixin positionSelect(opts)
  i.fa.fa-lg.fa-fw.position--select( class=opts.css, data-position=opts.position )

//- // // //

.key.d-flex.mb-2
  .inner.content= key
  .inner.hover
    i.fa.fa-fw.fa-lg.fa-times

.position
  each pos in positions
    +positionSelect(pos)

