
.col-lg-12
  .row.d-flex.align-items-center
    .col-lg-10
      p.lead.mb-0= label

    .col-lg-2.text-right.text-muted
      i.fa.fa-fw.fa-pencil

.col-lg-12
  small.mr-2
    strong Status:
  span.badge(class=status.css)=status.text
