mixin keyboardKey(opts)
  button.btn.btn-outline-dark.hotkey--child( data-keycode=opts.keycode data-click='key' data-key=opts.key class=opts.css )
    if opts.icon
      i.fa.fa-fw( class=opts.icon )
    else
      = opts.key

//- // // // // //

.d-flex.flex-column

  .row.my-1
    .col-lg-12
      +keyboardKey({ key: 'ESC', css: 'h_5', keycode: 27 })
      +keyboardKey({ key: 'F1', css: 'h_5' })
      +keyboardKey({ key: 'F2', css: 'h_5' })
      +keyboardKey({ key: 'F3', css: 'h_5' })
      +keyboardKey({ key: 'F4', css: 'h_5' })
      +keyboardKey({ key: 'F5', css: 'h_5' })
      +keyboardKey({ key: 'F6', css: 'h_5' })
      +keyboardKey({ key: 'F7', css: 'h_5' })
      +keyboardKey({ key: 'F8', css: 'h_5' })
      +keyboardKey({ key: 'F9', css: 'h_5' })
      +keyboardKey({ key: 'F10', css: 'h_5' })
      +keyboardKey({ key: 'F11', css: 'h_5' })
      +keyboardKey({ key: 'F12', css: 'h_5' })
      +keyboardKey({ key: 'P', css: 'h_5' })

      //- +keyboardKey({ key: 'MEDIA_PREV', icon: 'fa-backward' })
      //- +keyboardKey({ key: 'MEDIA_PLAY', icon: 'fa-play' })
      //- +keyboardKey({ key: 'MEDIA_NEXT', icon: 'fa-forward' })
      //- +keyboardKey({ key: 'VOL_MUTE', icon: 'fa-volume-off' })
      //- +keyboardKey({ key: 'VOL_DOWN', icon: 'fa-volume-down' })
      //- +keyboardKey({ key: 'VOL_UP', icon: 'fa-volume-up' })

  .row.my-1
    .col-lg-12
      +keyboardKey({ key: '~', keycode: 192 })
      +keyboardKey({ key: '1', keycode: 49 })
      +keyboardKey({ key: '2', keycode: 50 })
      +keyboardKey({ key: '3', keycode: 51 })
      +keyboardKey({ key: '4', keycode: 52 })
      +keyboardKey({ key: '5', keycode: 53 })
      +keyboardKey({ key: '6', keycode: 54 })
      +keyboardKey({ key: '7', keycode: 55 })
      +keyboardKey({ key: '8', keycode: 56 })
      +keyboardKey({ key: '9', keycode: 57 })
      +keyboardKey({ key: '0', keycode: 48 })
      +keyboardKey({ key: '-', keycode: 189 })
      +keyboardKey({ key: '=', keycode: 187 })
      +keyboardKey({ key: 'DELETE', css: 'x2', keycode: 8 })

  .row.my-1
    .col-lg-12
      +keyboardKey({ key: 'TAB', css: 'x2', keycode: 9 })
      +keyboardKey({ key: 'Q', keycode: 81 })
      +keyboardKey({ key: 'W', keycode: 87 })
      +keyboardKey({ key: 'E', keycode: 69 })
      +keyboardKey({ key: 'R', keycode: 82 })
      +keyboardKey({ key: 'T', keycode: 84 })
      +keyboardKey({ key: 'Y', keycode: 89 })
      +keyboardKey({ key: 'U', keycode: 85 })
      +keyboardKey({ key: 'I', keycode: 73 })
      +keyboardKey({ key: 'O', keycode: 79 })
      +keyboardKey({ key: 'P', keycode: 80 })
      +keyboardKey({ key: '[', keycode: 219 })
      +keyboardKey({ key: ']', keycode: 221 })
      +keyboardKey({ key: '\\', keycode: 220 })

  .row.my-1
    .col-lg-12
      +keyboardKey({ key: 'CAPS', css: 'x2', keycode: 20 })
      +keyboardKey({ key: 'A', keycode: 65 })
      +keyboardKey({ key: 'S', keycode: 83 })
      +keyboardKey({ key: 'D', keycode: 68 })
      +keyboardKey({ key: 'F', keycode: 70 })
      +keyboardKey({ key: 'G', keycode: 71 })
      +keyboardKey({ key: 'H', keycode: 72 })
      +keyboardKey({ key: 'J', keycode: 74 })
      +keyboardKey({ key: 'K', keycode: 75 })
      +keyboardKey({ key: 'L', keycode: 76 })
      +keyboardKey({ key: ';', keycode: 186 })
      +keyboardKey({ key: "'", keycode: 222 })
      +keyboardKey({ key: 'RETURN', css: 'x2', keycode: 13 })

  .row.my-1
    .col-lg-12
      +keyboardKey({ key: 'SHIFT', css: 'x2-5', keycode: 16 })
      +keyboardKey({ key: 'Z', keycode: 90 })
      +keyboardKey({ key: 'X', keycode: 88 })
      +keyboardKey({ key: 'C', keycode: 67 })
      +keyboardKey({ key: 'V', keycode: 86 })
      +keyboardKey({ key: 'B', keycode: 66 })
      +keyboardKey({ key: 'N', keycode: 78 })
      +keyboardKey({ key: 'M', keycode: 77 })
      +keyboardKey({ key: ',', keycode: 188 })
      +keyboardKey({ key: '.', keycode: 190 })
      +keyboardKey({ key: '/', keycode: 191 })
      +keyboardKey({ key: 'SHIFT', css: 'x2-5', keycode: 16 })

  .row.my-1
    .col-lg-12
      //- +keyboardKey({ key: 'CTRL' })
      //- +keyboardKey({ key: 'ALT' })
      //- +keyboardKey({ key: 'CMD' })
      //- +keyboardKey({ key: 'SPACE', css: 'space' })
      //- +keyboardKey({ key: 'CMD' })
      //- +keyboardKey({ key: 'ALT' })
      //- +keyboardKey({ key: 'FN' })
      //- +keyboardKey({ key: 'CTRL' })
      //- +keyboardKey({ key: 'LEFT-ARROW', icon: 'fa-chevron-left' })
      //- +keyboardKey({ key: 'UP-ARROW', icon: 'fa-chevron-up' })
      //- +keyboardKey({ key: 'DOWN-ARROW', icon: 'fa-chevron-down' })
      //- +keyboardKey({ key: 'RIGHT-ARROW', icon: 'fa-chevron-right' })

      //- Macbook
      +keyboardKey({ key: 'FN' })
      +keyboardKey({ key: 'CTRL', keycode: 17 })
      +keyboardKey({ key: 'ALT', keycode: 18 })
      +keyboardKey({ key: 'CMD', keycode: 91 })
      +keyboardKey({ key: 'SPACE', css: 'space', keycode: 32 })
      +keyboardKey({ key: 'CMD', keycode: 93 })
      +keyboardKey({ key: 'ALT', keycode: 18 })
      +keyboardKey({ key: 'LEFT-ARROW', icon: 'fa-chevron-left', keycode: 37 })
      +keyboardKey({ key: 'UP-ARROW', icon: 'fa-chevron-up', keycode: 38 })
      +keyboardKey({ key: 'DOWN-ARROW', icon: 'fa-chevron-down', keycode: 40 })
      +keyboardKey({ key: 'RIGHT-ARROW', icon: 'fa-chevron-right', keycode: 39 })





