mixin keyboardKey(opts)
  button.btn.btn-outline-primary.hotkey--child( data-click='key' data-key=opts.key class=opts.css )
    if opts.icon
      i.fa.fa-fw( class=opts.icon )
    else
      = opts.key

//- // // // // //

.d-flex.flex-column

  .row.my-1
    .col-lg-12
      +keyboardKey({ key: 'ESC' })
      +keyboardKey({ key: 'F1' })
      +keyboardKey({ key: 'F2' })
      +keyboardKey({ key: 'F3' })
      +keyboardKey({ key: 'F4' })
      +keyboardKey({ key: 'F5' })
      +keyboardKey({ key: 'F6' })
      +keyboardKey({ key: 'F7' })
      +keyboardKey({ key: 'F8' })
      +keyboardKey({ key: 'F9' })
      +keyboardKey({ key: 'F10' })
      +keyboardKey({ key: 'F11' })
      +keyboardKey({ key: 'F12' })
      +keyboardKey({ key: 'P' })

      //- +keyboardKey({ key: 'MEDIA_PREV', icon: 'fa-backward' })
      //- +keyboardKey({ key: 'MEDIA_PLAY', icon: 'fa-play' })
      //- +keyboardKey({ key: 'MEDIA_NEXT', icon: 'fa-forward' })
      //- +keyboardKey({ key: 'VOL_MUTE', icon: 'fa-volume-off' })
      //- +keyboardKey({ key: 'VOL_DOWN', icon: 'fa-volume-down' })
      //- +keyboardKey({ key: 'VOL_UP', icon: 'fa-volume-up' })

  .row.my-1
    .col-lg-12
      +keyboardKey({ key: '~' })
      +keyboardKey({ key: '1' })
      +keyboardKey({ key: '2' })
      +keyboardKey({ key: '3' })
      +keyboardKey({ key: '4' })
      +keyboardKey({ key: '5' })
      +keyboardKey({ key: '6' })
      +keyboardKey({ key: '7' })
      +keyboardKey({ key: '8' })
      +keyboardKey({ key: '9' })
      +keyboardKey({ key: '0' })
      +keyboardKey({ key: '-' })
      +keyboardKey({ key: '=' })
      +keyboardKey({ key: 'DELETE', css: 'x2' })

  .row.my-1
    .col-lg-12
      +keyboardKey({ key: 'TAB', css: 'x2' })
      +keyboardKey({ key: 'Q' })
      +keyboardKey({ key: 'W' })
      +keyboardKey({ key: 'E' })
      +keyboardKey({ key: 'R' })
      +keyboardKey({ key: 'T' })
      +keyboardKey({ key: 'Y' })
      +keyboardKey({ key: 'U' })
      +keyboardKey({ key: 'I' })
      +keyboardKey({ key: 'O' })
      +keyboardKey({ key: 'P' })
      +keyboardKey({ key: '[' })
      +keyboardKey({ key: ']' })
      +keyboardKey({ key: '\\' })

  .row.my-1
    .col-lg-12
      +keyboardKey({ key: 'CAPS', css: 'x2' })
      +keyboardKey({ key: 'A' })
      +keyboardKey({ key: 'S' })
      +keyboardKey({ key: 'D' })
      +keyboardKey({ key: 'F' })
      +keyboardKey({ key: 'G' })
      +keyboardKey({ key: 'H' })
      +keyboardKey({ key: 'J' })
      +keyboardKey({ key: 'K' })
      +keyboardKey({ key: 'L' })
      +keyboardKey({ key: ';' })
      +keyboardKey({ key: "'" })
      +keyboardKey({ key: 'RETURN', css: 'x2' })

  .row.my-1
    .col-lg-12
      +keyboardKey({ key: 'SHIFT', css: 'x2-5' })
      +keyboardKey({ key: 'Z' })
      +keyboardKey({ key: 'X' })
      +keyboardKey({ key: 'C' })
      +keyboardKey({ key: 'V' })
      +keyboardKey({ key: 'B' })
      +keyboardKey({ key: 'N' })
      +keyboardKey({ key: 'M' })
      +keyboardKey({ key: ',' })
      +keyboardKey({ key: '.' })
      +keyboardKey({ key: '/' })
      +keyboardKey({ key: 'SHIFT', css: 'x2-5' })

  .row.my-1
    .col-lg-12
      +keyboardKey({ key: 'CTRL' })
      +keyboardKey({ key: 'ALT' })
      +keyboardKey({ key: 'CMD' })
      +keyboardKey({ key: 'SPACE', css: 'space' })
      +keyboardKey({ key: 'CMD' })
      +keyboardKey({ key: 'ALT' })
      +keyboardKey({ key: 'FN' })
      +keyboardKey({ key: 'CTRL' })
      +keyboardKey({ key: 'LEFT-ARROW', icon: 'fa-chevron-left' })
      +keyboardKey({ key: 'UP-ARROW', icon: 'fa-chevron-up' })
      +keyboardKey({ key: 'DOWN-ARROW', icon: 'fa-chevron-down' })
      +keyboardKey({ key: 'RIGHT-ARROW', icon: 'fa-chevron-right' })

