include ../../../partials/keyboard_helpers

//- // // // //

.keyboard--body
  .d-flex.flex-row

    .d-flex.flex-column
      +keyboardRow()
        each key in r3
          +keyboardKey(key)

      +keyboardRow()
        each key in r2
          +keyboardKey(key)

      br
      br
      br

      +keyboardRow()
        each key in r1
          +keyboardKey(key)

      +keyboardRow()
        each key in r0
          +keyboardKey(key)
