.navbar-brand.title ASTROKEY

ul.navbar-nav.ml-auto
  li.nav-item
    a.nav-link( style='cursor:pointer', onClick="Radio.channel('about').trigger('show');" )
      i.fa.fa-fw.fa-lg.fa-question-circle-o
